<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>JSON Fiddle</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimal-scale=1.0, minimal-ui">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>
$bundles
<body ng-app="App" ng-controller="RootController" class="theme-{{theme}}">
  <div class="app-container flex flex-column justify-center">
    <header class="flex items-center justify-between">
      <div>JSONFiddle</div>
    </header>
    <main class="flex justify-between">
      <div id="input" class="input flex flex-column">
        <div class="p1 tbar flex items-center justify-between">
          <div class="flex items-center">
            <div class="text-btn" ng-click="formatJson()">Format JSON</div>
            <div>|</div>
            <div>Indentation: </div>
            <input class="ml1" type="number" min="1" max="10" ng-model="settings.formatIndentation" />
          </div>
          <div class="flex items-center">
            <byte-counter json="json"></byte-counter>
          </div>
        </div>
        <textarea id="textarea" class="p2 h100" json-text settings="settings" ng-model="json" spellcheck="false"></textarea>
      </div>
      <div class="separator"></div>
      <div class="flex-auto output flex flex-column">
        <div class="p1 tbar flex justify-end items-center">
          <input type="text" ng-model="settings.filter" 
            ng-model-options="{ debounce: settings.filterThrottle }" 
            ng-change="onFilterChanged()" 
            placeholder="filter: e.g user.name" />
        </div>
        <div class="p2">
          <property value="json" filter="settings.filter"></property>
        </div>
      </div>
    </main>
    <footer class="flex items-center">
      <div>Author: Johnny Blomgren & Tommy Wallberg</div>
    </footer>
  </div>

  <script type="text/ng-template" id="property.html">
    <span class="property">
      <span class="key" ng-if="key">{{key}}</span>
      <span class="number" ng-show="isNumber()">{{value}}</span>
      <span class="string" ng-show="isString()">{{value}}</span>
      <span class="boolean" ng-show="isBoolean()">{{value}}</span>
      <span class="null" ng-show="isNull()">null</span>
      <span class="object" ng-class="{'collapsed': collapsed}" ng-if="isObject()">
        <span class="toggle" ng-click="collapsed = !collapsed">{
          <span ng-if="collapsed">{{getObjectLength(value)}}</span>
        </span>
        <ul>
          <li ng-repeat="(k,v) in value track by $index" ng-if="getFilter(k,v)">
            <property key="k" value="v" filter="getNextFilter(k, v)"></property>
          </li>
        </ul>
        <span class="toggle-end">}</span>
      </span>
      <span class="array" ng-class="{'collapsed': collapsed}" ng-if="isArray()">
        <span class="toggle" ng-click="collapsed = !collapsed">[
        <span ng-if="collapsed">{{value.length}}</span>
        </span>
        <ul>
          <li ng-repeat="(k,v) in value track by $index">
            <property value="v" filter="filter"></property>
          </li>
        </ul>
        <span class="toggle-end">]</span>
      </span>
    </span>
  </script>
</body>

</html>